.table {
  margin: 2rem 1rem;
  padding-right: 3rem;
  border-collapse: collapse;
  font-size: 0.8em;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  position: relative;
}

.th {
  padding: var(--th-padding);
  font-size: 0.8em;
}

.th.rotate {
  text-align: left;
  transform:
      rotate(-180deg);
  writing-mode: vertical-lr;
}

.columnSize {
  width: 75px;
}

.td {
  padding: var(--td-padding);
}

.border {
  border: 1px solid lightgrey;
}

.right {
  text-align: right;
}

.contrast {
  background-color: #F6F6F6;
}

.dwarfed {
  background-color: bisque;
}

.closeTradePriceInput {
  width: 100%;
  text-align: right;
}

/* Freeze header and first columns */
.freezeFirstThRow {
  position: sticky;
  top: 0;
}

.freezeSecondThRow {
  position: sticky;
  top: 30px;
}

.freezeFirstThCell {
  z-index: 99;
  left: 0;
}

.freezeFirstTdColumn {
  position: sticky;
  left: 0;
}

.freezeSecondThCell {
  z-index: 99;
  left: 60px;
}

.freezeSecondTdColumn {
  position: sticky;
  left: 60px;
}

.white {
  background-color: white;
}

.thirtyPx {
  height: 30px;
}
