.table {
  margin: 2rem 1rem;
  padding-right: 3rem;
  border-collapse: collapse;
  font-size: 0.8em;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  position: relative;
}

.table th {
  padding: var(--th-padding);
  font-size: 0.8em;
}

.table th.rotate {
  text-align: left;
  transform:
      rotate(-180deg);
  writing-mode: vertical-lr;
}

.table td {
  padding: var(--td-padding);
}

.table td:not(.total) {
  border: 1px solid lightgrey;
}

.table th.leftEdge, .table td.leftEdge {
  border-left: 2px solid Grey;
}

.table th.rightEdge, .table td.rightEdge {
  border-right: 2px solid Grey;
}

.table tr.topEdge {
  border-top: 2px solid Grey;
}

.columnWidthSm {
  min-width: 50px;
}

.columnWidthMd {
  min-width: 70px;
}

.columnWidthLg {
  min-width: 90px;
}

.right {
  text-align: right;
}

.contrast {
  background-color: #F6F6F6;
}

.warning {
  background-color: Bisque;
}

.danger {
  background-color: LightSalmon;
}

.info {
  background-color: LemonChiffon;
}

.transparent {
  color: transparent;
}

.closeTradePriceInput {
  width: 100%;
  text-align: right;
}

/* Freeze header and first columns */
.freezeFirstThRow {
  position: sticky;
  top: 0;
}

.freezeSecondThRow {
  position: sticky;
  top: 30px;
}

.freezeFirstThCell {
  z-index: 99;
  left: 0;
}

.freezeFirstTdColumn {
  position: sticky;
  left: 0;
}

.freezeSecondThCell {
  z-index: 99;
  left: 60px;
}

.freezeSecondTdColumn {
  position: sticky;
  left: 60px;
}

.white {
  background-color: white;
}

.thirtyPx {
  height: 30px;
}

.thick {
  font-weight: bold;
}

.italic {
  font-style: italic;
}