.table {
  margin: 2rem 1rem;
  padding-right: 3rem;
  border-collapse: collapse;
  font-size: 0.8em;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
  position: relative;
}

.th {
  padding: 0.5rem 0.5rem;
  font-size: 0.8em;
  position: sticky;
  top: 0;
  background-color: white;
}

.td {
  padding: var(--cell-padding);
}

.border {
  border: 1px solid lightgrey;
}

.right {
  text-align: right;
}

.contrast {
  background-color: #F6F6F6;
}

/* Freeze the first two columns */
.th:nth-child(-n + 2) {
  z-index: 99;
}

.td:nth-child(-n + 2) {
  position: sticky;
}

.th:nth-child(1), .td:nth-child(1) {
  left: 0;
}

.th:nth-child(2), .td:nth-child(2) {
  /* TODO Dynamically determine the first column width */
  left: 60px;
}
